/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap"); /* font-family: 'Manrope', sans-serif; */

/* COLORS */
:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

/* PRESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CODE */
body {
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Manrope", sans-serif;
  font-size: 11px;
}

.container__main {
  background-color: white;
  width: 328px;
  height: 510px;
  margin: 10vh auto 10px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container__main .img__drawers {
  height: 200px;
  width: 100%;
}

.container__main .img__drawers img {
  height: 100%;
  width: 100%;
}

.container__info {
  padding: 40px 30px 10px 30px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.container__info .text p {
  margin-top: 15px;
  margin-bottom: 25px;
  line-height: 20px;
  font-size: 13.5px;
  color: var(--Very-Dark-Grayish-Blue);
}

.container__info .user__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__info .user__bar .img__person {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 1;
}

.container__info .user__bar .img__arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--Light-Grayish-Blue);
  padding: 8px;
  z-index: 99;
}

.container__info .user__bar .user__text {
  margin-left: -50px;
  line-height: 20px;
  z-index: 1;
}

.container__info .user__bar .user__text p {
  color: var(--Grayish-Blue);
  font-size: 12.5px;
}

.container__info .user__bar .active__bar {
  position: absolute;
  z-index: 2;
  background-color: var(--Very-Dark-Grayish-Blue);
  width: 328px;
  margin-left: -30px;
  margin-top: 10px;
  padding-bottom: 8px;

  display: none;
  align-items: center;

  height: 0;
  transition: height 0.3s ease-in-out;
}

.container__info .user__bar .active__bar h2 {
  color: var(--Grayish-Blue);
  font-weight: 500;
  letter-spacing: 5px;
  margin-left: 30px;
  margin-right: 20px;
}

.container__info .user__bar .active__bar img {
  margin-right: 20px;
}

/* HOVER STATES */
.container__info .user__bar .img__arrow:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* ATTRIBUTIONS */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
